# Project place file
/Replicator.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

sourcemap.json
test_client
test_server
test_shared
packages/
debug.project.json
lpm.toml
lpm.lock
rokit.toml
.lpm-patch/
